<div class="home-page-wrapper">
  @if (isSwiperReady()) {
    <div class="news-carousel">
      <swiper-container
        class="swiper-news"
        #swiper
        slides-per-view="1"
        navigation
        pagination
        centered-slides
        loop
        speed="500"
        autoplay-delay="4500"
        autoplay-disable-on-interaction="false"
      >
        <swiper-slide>
          <app-news-slide
            newsTitle="New arrivals"
            newsSubtitle="Discover our latest collection"
            bgColor="darkred"
          />
        </swiper-slide>

        <swiper-slide>
          <app-news-slide
            newsTitle="Free shipping"
            newsSubtitle="On orders over $49"
            bgColor="darkviolet"
          />
        </swiper-slide>

        <swiper-slide>
          <app-news-slide
            newsTitle="Coming soon..."
            newsSubtitle="A new item drop will be launched soon"
            bgColor="darkgreen"
          />
        </swiper-slide>
      </swiper-container>
    </div>
  } @else {
    <div class="swiper-not-ready-placeholder"></div>
  }

  <section class="bestsellers">
    <h2>Unsere Bestseller</h2>
    <div class="product-grid">
      <app-product-card />
      <app-product-card />
      <app-product-card />
    </div>
  </section>
  <section class="shop-info"></section>
</div>
