.home-page-wrapper {
  display: flex;
  flex-direction: column;
}

.news-carousel {
  aspect-ratio: 24 / 6;
  max-height: 500px;
}

.swiper-news {
  height: 100%;
  background-color: lightgray;
}

swiper-slide {
  height: calc(100% - 32px);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.swiper-not-ready-placeholder {
  height: 500px;
}

.bestsellers {
  padding: 0 16px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}

.shop-info {
  padding: 0 16px;
}
