<section>
    <h2>Unsere Bestseller</h2>
</section>
<section>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <img class="product-image" src="assets/images/whey/chocolate-whey.jpg" alt="Bestseller 1">
            <mat-grid-tile-footer>
                <h3>Produktname 1</h3>
                <p>Kurze Beschreibung des Produkts 1</p>
            </mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/images/whey/cinnamon-cereal-whey.jpg" alt="Bestseller 2">
            <mat-grid-tile-footer>
                <h3>Produktname 2</h3>
                <p>Kurze Beschreibung des Produkts 2</p>
            </mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/images/whey/vanille-whey.jpg" alt="Bestseller 3">
            <mat-grid-tile-footer>
                <h3>Produktname 3</h3>
                <p>Kurze Beschreibung des Produkts 3</p>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</section>