.footer {
    padding: 3em 2em;
    margin: auto;
    background-color: var(--mat-sys-surface-container);
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    color: var(--secondary, #6c757d);
}

.links {
    margin: 1em;
}