<swiper-container
  class="news-carousel"
  slides-per-view="1"
  navigation
  pagination
  centered-slides
  loop
  speed="500"
  autoplay-delay="4500"
  autoplay-disable-on-interaction="false"
>
  <swiper-slide>
    <img src="/assets/images/sale.jpg" alt="SALE - Up to 50%" />
  </swiper-slide>

  <swiper-slide>
    <img src="/assets/images/new-arrivals.jpg" alt="New arrivals" />
  </swiper-slide>

  <swiper-slide>
    <img src="/assets/images/recipe-book.jpg" alt="Recipe book" />
  </swiper-slide>
</swiper-container>
